page-cart {
    .nolinebreak{
        float: left;
        padding-right: 10px;
    }
    .cartAvatar{
        margin-left: 50px;
        width: 200px;
        height: 200px;
  
    }
    .text{
        margin-left: 30px;
    }

}
